.noselect {
    user-select: none;
}

iframe#myPDF {
    width: 1200px;
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 768px) {
    iframe#myPDF {
        height: 500px;
        /* Adjust the height for smaller screens */
    }
}