/* FileUpload.css */
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.dropzone p {
    font-size: 18px;
    color: #555555;
}

.dropzone:hover {
    border-color: #aaaaaa;
}