/* Sidenav.css */

.sidenav-container {
    position: relative;
}

.dropdown-menu {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.dropdown-menu.show {
    display: flex;
}